<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yxw.hospitalmanager.entity.PlatformSetting">
	<resultMap id="platformSetting" type="PlatformSetting">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="HOSPITAL_ID" property="hospitalId" jdbcType="VARCHAR" />
		<result column="PLATFORM_ID" property="platformId" jdbcType="VARCHAR" />
		<result column="TRADE_MODE_ID" property="tradeId" jdbcType="VARCHAR" />
		<result column="APP_ID" property="appId" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="hospitalInfosVo" type="com.yxw.hospitalmanager.vo.HospitalInfosVo">
		<result column="ID" property="id" jdbcType="VARCHAR" />
		<result column="HOSPITAL_ID" property="hospitalId" jdbcType="VARCHAR" />
		<result column="HOSPITAL_NAME" property="hospitalName" jdbcType="VARCHAR" />
		<result column="HOSPITAL_CODE" property="hospitalCode" jdbcType="VARCHAR" />
		<result column="PLATFORM_NAME" property="platformName" jdbcType="VARCHAR" />
		<result column="PLATFORM_CODE" property="platformCode" jdbcType="VARCHAR" />
		<result column="TRADE_NAME" property="tradeName" jdbcType="VARCHAR" />
		<result column="TRADE_MODE" property="tradeMode" jdbcType="VARCHAR" />
		<result column="APP_ID" property="appId" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 根据医院ID查询 -->
	<select id="findByHospitalId" resultMap="platformSetting" parameterType="java.lang.String">
		SELECT
			ID, HOSPITAL_ID, PLATFORM_ID, TRADE_MODE_ID, APP_ID
		FROM BIZ_HOSPITAL_PLATFORM_TRADE_SETTINGS
		WHERE HOSPITAL_ID = #{hospitalId, jdbcType=VARCHAR}
	</select>
	
	<!-- !hospitalId + appId -->
	<select id="findByHospitalIdAndAppId" resultMap="platformSetting">
		SELECT
			ID
		FROM BIZ_HOSPITAL_PLATFORM_TRADE_SETTINGS
		WHERE HOSPITAL_ID != #{hospitalId}
		AND APP_ID = #{appId}
	</select>
	
	<!-- hospitalId + !platform + appId -->
	<select id="findByHospitalIdAndAppIdAndPlatformId" resultMap="platformSetting">
		SELECT
			ID
		FROM BIZ_HOSPITAL_PLATFORM_TRADE_SETTINGS
		WHERE HOSPITAL_ID = #{hospitalId}
		AND APP_ID = #{appId}
		AND PLATFORM_ID != #{platformId}
	</select>
	
	<!-- hospitalId + platform + tradeMode -->
	<select id="findByHospitalIdAndPlatformIdAndTradeId" resultMap="platformSetting">
		SELECT
			ID
		FROM BIZ_HOSPITAL_PLATFORM_TRADE_SETTINGS
		WHERE HOSPITAL_ID = #{hospitalId}
		AND PLATFORM_ID = #{platformId}
		AND TRADE_MODE_ID = #{tradeId}
	</select>

	<!-- 查询医院、平台信息 -->
	<select id="findAllSettings" resultMap="hospitalInfosVo" parameterType="java.lang.String">
		SELECT
			s.ID, s.HOSPITAL_ID, h.NAME AS HOSPITAL_NAME, p.NAME AS PLATFORM_NAME, 
			p.CODE AS PLATFORM_CODE, h.CODE AS HOSPITAL_CODE, t.NAME AS TRADE_NAME,
			t.CODE AS TRADE_MODE, s.APP_ID
		FROM BIZ_HOSPITAL_PLATFORM_TRADE_SETTINGS s 
		LEFT JOIN BIZ_HOSPITAL h ON 
			h.ID = s.HOSPITAL_ID 
		LEFT JOIN SYS_PLATFORM p ON 
			p.ID = s.PLATFORM_ID
		LEFT JOIN SYS_TRADE_MODE t ON 
			s.TRADE_MODE_ID = t.ID
		WHERE s.HOSPITAL_ID = #{hospitalId}
		ORDER BY PLATFORM_CODE, TRADE_MODE
	</select>
	
	<!-- 新增 -->
	<insert id="add" parameterType="platformSetting">
		INSERT INTO
		BIZ_HOSPITAL_PLATFORM_TRADE_SETTINGS
			(ID, HOSPITAL_ID, PLATFORM_ID, TRADE_MODE_ID, APP_ID)
		VALUES
			(#{id}, #{hospitalId}, #{platformId}, #{tradeId}, #{appId})
	</insert>
	
	<!-- 删除 -->
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM BIZ_HOSPITAL_PLATFORM_TRADE_SETTINGS WHERE ID = #{id}   
	</delete>
	
	<!-- 删除 -->
	<delete id="deleteAllByHospitalId" parameterType="java.lang.String">
		DELETE FROM BIZ_HOSPITAL_PLATFORM_TRADE_SETTINGS WHERE HOSPITAL_ID = #{hospitalId}   
	</delete>

</mapper>