<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxw.commons.entity.mobile.biz.clinic.ClinicRecord">
	<resultMap id="clinicRecordResultMap" type="com.yxw.commons.entity.mobile.biz.clinic.ClinicRecord">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="HOSPITAL_ID" property="hospitalId" jdbcType="VARCHAR" />
		<result column="HOSPITAL_CODE" property="hospitalCode" jdbcType="VARCHAR" />
		<result column="HOSPITAL_NAME" property="hospitalName" jdbcType="VARCHAR" />
		<result column="BRANCH_ID" property="branchHospitalId" jdbcType="VARCHAR" />
		<result column="BRANCH_CODE" property="branchHospitalCode" jdbcType="VARCHAR" />
		<result column="PAY_STATUS" property="payStatus" jdbcType="SMALLINT" />
		<result column="CARD_TYPE" property="cardType" jdbcType="SMALLINT" />
		<result column="CARD_NO" property="cardNo" jdbcType="VARCHAR" />
		<result column="OPEN_ID" property="openId" jdbcType="VARCHAR" />
		<result column="APP_ID" property="appId" jdbcType="VARCHAR" />
		<result column="APP_CODE" property="appCode" jdbcType="VARCHAR" />
		<result column="IS_EXCEPTION" property="isException" jdbcType="SMALLINT" />
		<result column="IS_HANDLE_SUCCESS" property="isHandleSuccess" jdbcType="SMALLINT" />
		<result column="HANDLE_COUNT" property="handleCount" jdbcType="SMALLINT" />
		<result column="HANDLE_LOG" property="handleLog" jdbcType="VARCHAR" />
		<result column="PATIENT_NAME" property="patientName" jdbcType="VARCHAR" />
		<result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
		<result column="ORDER_NO_HASH_VAL" property="orderNoHashVal" jdbcType="VARCHAR" />
		<result column="REFUND_ORDER_NO" property="refundOrderNo" jdbcType="VARCHAR" />
		<result column="REFUND_HISORD_NO" property="refundHisOrdNo" jdbcType="VARCHAR" />
		<result column="AGT_ORD_NUM" property="agtOrdNum" jdbcType="VARCHAR" />
		<result column="AGT_REFUND_ORD_NUM" property="agtRefundOrdNum" jdbcType="VARCHAR" />
		<result column="FEE_DESC" property="feeDesc" jdbcType="VARCHAR" />
		<result column="IS_HAD_CALL_BACK" property="isHadCallBack" jdbcType="SMALLINT" />
		<result column="RECORD_TITLE" property="recordTitle" jdbcType="VARCHAR" />
		<result column="FAILURE_MSG" property="failureMsg" jdbcType="VARCHAR" />
		<result column="PATIENT_MOBILE" property="patientMobile" jdbcType="VARCHAR" />
		<result column="IS_VALID" property="isValid" jdbcType="SMALLINT" />
		<result column="CLINIC_STATUS" property="clinicStatus" jdbcType="SMALLINT" />
		<result column="MZFEE_ID" property="mzFeeId" jdbcType="VARCHAR" />
		<result column="PAY_IDS" property="payIds" jdbcType="VARCHAR" />
		<result column="MEDICARE_TYPE" property="medicareType" jdbcType="VARCHAR" />
		<result column="TOTAL_FEE" property="totalFee" jdbcType="BIGINT" />
		<result column="MEDICARE_FEE" property="medicareFee" jdbcType="BIGINT" />
		<result column="PAY_FEE" property="payFee" jdbcType="BIGINT" />
		<result column="BARCODE" property="barcode" jdbcType="VARCHAR" />
		<result column="DOCTOR_NAME" property="doctorName" jdbcType="VARCHAR" />
		<result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
		<result column="TRADE_MODE" property="tradeMode" jdbcType="SMALLINT" />
		<result column="PLATFORM_MODE" property="platformMode" jdbcType="SMALLINT" />
		<result column="HIS_ORD_NO" property="hisOrdNo" jdbcType="VARCHAR" />
		<result column="RECEIPT_NUM" property="receiptNum" jdbcType="VARCHAR" />
		<result column="HIS_MESSAGE" property="hisMessage" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="BIGINT" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="BIGINT" />
		<result column="PAY_TIME" property="payTime" jdbcType="BIGINT" />
		<result column="REFUND_TIME" property="refundTime" jdbcType="BIGINT" />
		<!-- 用于订单下载，对账 只读不写 -->
		<result column="TRADE_TYPE" property="tradeType" jdbcType="VARCHAR" />
		<!-- 用于订单下载，对账 只读不写 -->
		<result column="TRADE_TIME" property="tradeTime" jdbcType="VARCHAR" />
		<result column="IS_CLAIM" property="isClaim" jdbcType="INTEGER" />
	</resultMap>

	<sql id="All_Column">
		ID, HOSPITAL_ID, HOSPITAL_CODE, HOSPITAL_NAME, BRANCH_ID, BRANCH_CODE, APP_ID, APP_CODE,
		PAY_STATUS,CLINIC_STATUS,
		CARD_TYPE, CARD_NO, OPEN_ID, IS_EXCEPTION, IS_HANDLE_SUCCESS, HANDLE_COUNT, HANDLE_LOG,
		PATIENT_NAME, ORDER_NO, ORDER_NO_HASH_VAL, REFUND_ORDER_NO, REFUND_HISORD_NO, AGT_ORD_NUM,
		AGT_REFUND_ORD_NUM,
		FEE_DESC, IS_HAD_CALL_BACK, RECORD_TITLE, FAILURE_MSG, IS_VALID, MZFEE_ID,
		PAY_IDS, MEDICARE_TYPE, TOTAL_FEE,
		MEDICARE_FEE, PAY_FEE, BARCODE, TRADE_MODE, PLATFORM_MODE, HIS_ORD_NO,
		RECEIPT_NUM, HIS_MESSAGE, CREATE_TIME, UPDATE_TIME,
		PAY_TIME, REFUND_TIME, DOCTOR_NAME, DEPT_NAME,
		PATIENT_MOBILE,IS_CLAIM
	</sql>

	<sql id="List_Column">
		ID, HOSPITAL_ID, HOSPITAL_CODE, HOSPITAL_NAME, BRANCH_ID, BRANCH_CODE, APP_ID, APP_CODE,
		PAY_STATUS,CLINIC_STATUS,
		CARD_TYPE, CARD_NO, OPEN_ID, PATIENT_NAME, ORDER_NO, REFUND_ORDER_NO, REFUND_HISORD_NO,
		RECORD_TITLE, MEDICARE_TYPE,
		PAY_FEE, TRADE_MODE, PLATFORM_MODE, CREATE_TIME, UPDATE_TIME, PAY_TIME, REFUND_TIME, DOCTOR_NAME, DEPT_NAME, PATIENT_MOBILE,IS_CLAIM
	</sql>

	<sql id="Detail_Column">
		ID, HOSPITAL_ID, HOSPITAL_CODE, HOSPITAL_NAME, BRANCH_ID, BRANCH_CODE, APP_ID, APP_CODE,
		PAY_STATUS,CLINIC_STATUS,
		CARD_TYPE, CARD_NO, OPEN_ID,
		PATIENT_NAME, ORDER_NO, REFUND_ORDER_NO, FEE_DESC, RECORD_TITLE, MZFEE_ID,
		PAY_IDS, MEDICARE_TYPE, TOTAL_FEE, MEDICARE_FEE, PAY_FEE,
		BARCODE, TRADE_MODE, PLATFORM_MODE, HIS_ORD_NO,
		RECEIPT_NUM, HIS_MESSAGE, CREATE_TIME, UPDATE_TIME, PAY_TIME, REFUND_TIME,
		DOCTOR_NAME, DEPT_NAME,
		PATIENT_MOBILE,IS_CLAIM
	</sql>

	<sql id="Choose_Hash_Table_Name">
		<choose>
			<when test="hashTableName == 'BIZ_CLINIC_RECORD_1'">
				BIZ_CLINIC_RECORD_1
			</when>
			<when test="hashTableName == 'BIZ_CLINIC_RECORD_2'">
				BIZ_CLINIC_RECORD_2
			</when>
			<when test="hashTableName == 'BIZ_CLINIC_RECORD_3'">
				BIZ_CLINIC_RECORD_3
			</when>
			<when test="hashTableName == 'BIZ_CLINIC_RECORD_4'">
				BIZ_CLINIC_RECORD_4
			</when>
			<when test="hashTableName == 'BIZ_CLINIC_RECORD_5'">
				BIZ_CLINIC_RECORD_5
			</when>
			<when test="hashTableName == 'BIZ_CLINIC_RECORD_6'">
				BIZ_CLINIC_RECORD_6
			</when>
			<when test="hashTableName == 'BIZ_CLINIC_RECORD_7'">
				BIZ_CLINIC_RECORD_7
			</when>
			<when test="hashTableName == 'BIZ_CLINIC_RECORD_8'">
				BIZ_CLINIC_RECORD_8
			</when>
			<when test="hashTableName == 'BIZ_CLINIC_RECORD_9'">
				BIZ_CLINIC_RECORD_9
			</when>
			<when test="hashTableName == 'BIZ_CLINIC_RECORD_10'">
				BIZ_CLINIC_RECORD_10
			</when>
		</choose>
	</sql>

	<!-- 查询在该医院绑定的就诊卡 -->
	<select id="findByOrderNo" resultMap="clinicRecordResultMap" parameterType="com.yxw.commons.entity.mobile.biz.clinic.ClinicRecord">
		select
		<include refid="All_Column" />
		from
		<include refid="Choose_Hash_Table_Name" />
		where ORDER_NO = #{orderNo} and ORDER_NO_HASH_VAL = #{orderNoHashVal}
	</select>

	
</mapper>