<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="true" version="3.0">

	<display-name>platform</display-name>
	<description>yx129 platform</description>
	<context-param>
		<param-name>logbackConfigLocation</param-name>
		<param-value>classpath:/logback/logback.xml</param-value>
	</context-param>
	<listener>
		<listener-class>com.yxw.framework.common.spring.ext.web.LogbackConfigListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/spring-framework.xml</param-value>
	</context-param>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>continuation</filter-name>
		<filter-class>org.eclipse.jetty.continuation.ContinuationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>continuation</filter-name>
		<url-pattern>/sse/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>GzipFilter</filter-name>
		<filter-class>com.yxw.framework.filter.gzip.GzipFilter</filter-class>
		<init-param>
			<param-name>includeSuffixs</param-name>
			<param-value>all</param-value>
		</init-param>
		<init-param>
			<param-name>noFilterURI</param-name>
			<param-value>/sse/movement</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>GzipFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>DruidWebStatFilter</filter-name>
		<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
		<init-param>
			<param-name>exclusions</param-name>
			<param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
		</init-param>
		<init-param>
			<param-name>profileEnable</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>DruidWebStatFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>initDatas</servlet-name>
		<servlet-class>com.yxw.platform.datas.init.InitDataServlet</servlet-class>
		<load-on-startup>14</load-on-startup>
	</servlet>
	<!-- <servlet> <servlet-name>movement</servlet-name> <servlet-class>com.yxw.test.common.eventsource.MovementServlet</servlet-class> </servlet> <servlet-mapping> <servlet-name>movement</servlet-name> <url-pattern>/sse/movement</url-pattern> 
		</servlet-mapping> -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/springmvc-framework.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DruidStatView</servlet-name>
		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DruidStatView</servlet-name>
		<url-pattern>/druid/*</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<!-- <session-config>
		<cookie-config>
			<comment>This is my special cookie configuration</comment>
			<domain>localhost</domain>
			<http-only>true</http-only>
			<max-age>30000</max-age>
			<path>/</path>
			<secure>true</secure>
			<name>J_SESSION</name>
		</cookie-config>
		<tracking-mode>URL</tracking-mode>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config> -->
	<!-- <context-param> <param-name>org.eclipse.jetty.servlet.SessionCookie</param-name> <param-value>XSESSIONID</param-value> </context-param> <context-param> <param-name>org.eclipse.jetty.servlet.SessionIdPathParameterName</param-name> 
		<param-value>xsessionid</param-value> </context-param> <context-param> <param-name>org.eclipse.jetty.servlet.SessionDomain</param-name> <param-value>localhost</param-value> </context-param> <context-param> 
		<param-name>org.eclipse.jetty.servlet.SessionPath</param-name> <param-value>/platform</param-value> </context-param> <context-param> <param-name>org.eclipse.jetty.servlet.MaxAge</param-name> <param-value>1800</param-value> 
		</context-param> -->

	<jsp-config>
		<taglib>
			<taglib-uri>/oscache.tld</taglib-uri>
			<taglib-location>/WEB-INF/tlds/oscache.tld</taglib-location>
		</taglib>
	</jsp-config>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/common/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/common/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/common/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/common/403.jsp</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>/</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>