<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width ,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
    <title>功能正在建设中</title>
    <link rel="stylesheet" href="static/css/style.css?v=0"/>
    <script type="text/javascript" src="static/js/lib/jquery.min1.9.js" ></script>
    <script type="text/javascript" src="static/js/lib/fastclick.js"></script>
    <script type="text/javascript" src="static/js/common.js?v=2"></script>
</head>
<body>
<div id="body">
    <div id="success">
        <div class="noData"></div>
        <div class="p color666" >功能正在建设中...</div>
    </div>
</div>
<div id="copyright"> 医享网出品 </div>
</body>
</html>
