<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE configuration    
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Branch" type="com.yxw.statistics.biz.hospitalmanager.entity.Branch"/>
		<typeAlias alias="Hospital" type="com.yxw.statistics.biz.hospitalmanager.entity.Hospital"/>
		<typeAlias alias="Platform" type="com.yxw.statistics.biz.hospitalmanager.entity.Platform"/>
		<typeAlias alias="TradeMode" type="com.yxw.statistics.biz.hospitalmanager.entity.TradeMode"/>
		<typeAlias alias="PlatformSetting" type="com.yxw.statistics.biz.hospitalmanager.entity.PlatformSetting"/>
	</typeAliases>
</configuration>