<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxw.stats.entity.project.SysRegStatistical">

  <resultMap id="BaseResultMap" type="com.yxw.stats.entity.project.SysRegStatistical" >
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="DATE" property="date" jdbcType="VARCHAR" />
    <result column="HOSPITAL_ID" property="hospitalId" jdbcType="VARCHAR" />
    <result column="BRANCH_ID" property="branchId" jdbcType="VARCHAR" />
    <result column="RESERVATION_PAYMENT" property="reservationPayment" jdbcType="INTEGER" />
    <result column="RESERVATION_NO_PAYMENT" property="reservationNoPayment" jdbcType="INTEGER" />
    <result column="RESERVATION_REFUND" property="reservationRefund" jdbcType="INTEGER" />
    <result column="DUTY_PAYMENT" property="dutyPayment" jdbcType="INTEGER" />
    <result column="DUTY_NO_PAYMENT" property="dutyNoPayment" jdbcType="INTEGER" />
    <result column="DUTY_REFUND" property="dutyRefund" jdbcType="INTEGER" />
    <result column="REG_PAY_FEE" property="regPayFee" jdbcType="DOUBLE" />
    <result column="REG_REFUND_FEE" property="regRefundFee" jdbcType="DOUBLE" />
    <result column="BIZ_MODE" property="bizMode" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DATE, HOSPITAL_ID, BRANCH_ID, RESERVATION_PAYMENT, RESERVATION_NO_PAYMENT, RESERVATION_REFUND, 
    DUTY_PAYMENT, DUTY_NO_PAYMENT, DUTY_REFUND, REG_PAY_FEE, REG_REFUND_FEE, BIZ_MODE
  </sql>
 
 <select id="findCurrRegisterStatsMaxDate" resultType="java.lang.String" parameterType="java.lang.String">
		select max(DATE) as maxDate from SYS_REG_STATISTICAL
		where HOSPITAL_ID = #{hospitalId, jdbcType=VARCHAR}
	</select>

	<select id="findRegisterStatsData" resultMap="BaseResultMap" parameterType="java.util.Map">
		
		select  
		sum(CASE when payType in(2,6,7,8,10,11,18,19,20) and registerType = 1 then counts else 0 END) as DUTY_PAYMENT, 
		sum(CASE when payType in(-1,-2,0,1,3,5,9,17) and registerType = 1 then counts else 0 END) as DUTY_NO_PAYMENT, 
		sum(CASE when paytype in(4,12,13,14,15,16,21,98) and registerType = 1 then counts else 0 END) DIV 2 as DUTY_REFUND, 
		sum(CASE when payType in(2,6,7,8,10,11,18,19,20) and registerType = 2 then counts else 0 END) as RESERVATION_PAYMENT,  
		sum(CASE when payType in(-1,-2,0,1,3,5,9,17) and registerType = 2 then counts else 0 END) as RESERVATION_NO_PAYMENT, 
		sum(CASE when paytype in(4,12,13,14,15,16,21,98) and registerType = 2 then counts else 0 END) DIV 2 as RESERVATION_REFUND, 
		sum(CASE when payType in(2,6,7,8,10,11,18,19,20) then totalFees else 0 END) as REG_PAY_FEE,  
		sum(CASE when paytype in(4,12,13,14,15,16,21,98) then totalFees else 0 END) DIV 2 as REG_REFUND_FEE,  
		hospitalId as HOSPITAL_ID,
		createTime as DATE 
						
		from (
						
			select 
			count(1) as counts,  
			sum(totalFee) as totalFees, 
			DATE_FORMAT(registerTime,'%Y-%m-%d') as createTime, 
			tb_register_log.hospitalId,
			payType,  
			tb_register_log.type as registerType 
			from tb_register_log 
			LEFT JOIN tb_order 
			on tb_register_log.refOrderNo = tb_order.orderNo 
			where tb_register_log.hospitalId = #{hospitalId} and registerTime BETWEEN #{beginDate} and #{endDate} 
			GROUP BY DATE_FORMAT(registerTime,'%Y-%m-%d'), payType, tb_register_log.type 
		
		) a  GROUP BY DATE
										
	</select>

	<insert id="batchInsertRegisterStatsData" parameterType="java.util.Map" >
		INSERT INTO 
			SYS_REG_STATISTICAL
			(<include refid="Base_Column_List"></include>)
			VALUES
		<foreach collection="sysRegisterStatistical" item="item" index="index" separator=",">
			 (#{item.id},#{item.date},#{item.hospitalId},#{item.branchId},#{item.reservationPayment},#{item.reservationNoPayment},#{item.reservationRefund},#{item.dutyPayment},
		 	 #{item.dutyNoPayment},#{item.dutyRefund},#{item.regPayFee},#{item.regRefundFee},#{item.bizMode})
		</foreach>
	</insert>
	
</mapper>